[#escape x as (x)!?html]
  <nav class="navbar navbar-expand navbar-light[#if headerShadow!false] shadow-sm[/#if] border-bottom cm-navbar">
    <div class="container flex-column flex-xl-row justify-content-start align-items-stretch align-items-xl-center px-lg-3">
      <div class="d-flex align-items-center">
        <div class="flex-grow-1">
          <a class="navbar-brand" href="${site.url}" title="${site.name}">
            <img src="${site.logo!'${files}/img/logo.png'}" alt="${site.name}" height="50">
          </a>
        </div>
        <button class="btn d-xl-none collapsed p-0" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" focusable="false">
            <path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"></path>
          </svg>
        </button>
      </div>
      <div class="navbar-nav-scroll mr-auto">
        <ul class="navbar-nav flex-row">
          <li class="nav-item">
            <a class="nav-link[#if isHome??] active[/#if]" href="${dy}/">首页</a>
          </li>
          [@ChannelList isNav='true' offset='0'; list]
            [#list list as item]
              [@ChannelList parentId=item.id isNav='true'; children]
              <li class="nav-item cm-nav-item[#if children?size gt 0] dropdown[/#if]">
                <a class="nav-link[#if children?size gt 0] dropdown-toggle[/#if][#if (channel?? && channel.paths[0].id == item.id) || (channelAlias?? && channelAlias == item.alias)] active[/#if]"
                   href="${item.url}"[#if item.targetBlank] target="_blank"[/#if][#if children?size gt 0] role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"[/#if]>${item.name}</a>
                [#if children?size gt 0]
                  <div class="dropdown-menu cm-nav-dropdown">
                    [#list children as child]
                      <a class="dropdown-item[#if channel?? && channel.id == child.id] active[/#if]" href="${child.url}"[#if child.targetBlank] target="_blank"[/#if]>${child.name}</a>
                    [/#list]
                  </div>
                [/#if]
              </li>
              [/@ChannelList]
            [/#list]
          [/@ChannelList]
        </ul>
      </div>

      <div class="collapse d-xl-block" id="navbarNavDropdown">
        <div class="d-flex justify-content-end align-items-center mt-2 mt-xl-0 py-2 py-xl-0 cm-header-actions">
          [@Site id='2'; bean]
            [#if bean??]
              <div class="d-flex align-items-center"><a href="${bean.url}" class="small">EN</a></div>
            [/#if]
          [/@Site]
          <div class="ml-3">
            <a class="btn cm-search-btn" href="${dy}/search" title="搜索" aria-label="搜索">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"></path>
                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"></path>
              </svg>
            </a>
          </div>
          <div class="ml-3">
            <a class="cm-admin-entry" href="${ctx}/cp/" aria-label="进入后台管理">
              <span class="cm-admin-entry__orb" aria-hidden="true">
                <svg width="17" height="17" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3 5.4C3 4.1 4.1 3 5.4 3h7.2C13.9 3 15 4.1 15 5.4v7.2c0 1.3-1.1 2.4-2.4 2.4H5.4C4.1 15 3 13.9 3 12.6V5.4Z" stroke="currentColor" stroke-width="1.4"/>
                  <path d="M6 7h6M6 10.8h3.8" stroke="currentColor" stroke-width="1.4" stroke-linecap="round"/>
                </svg>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
[/#escape]
